.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-height: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    min-height: 750px;
    background-image: url(img/head_image_bg.jpg);
    background-position: center;
    background-size: auto;
}

.block-this-is-bouncy {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

.block-detail-about-bouncy {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgrey;
}

.block-featured-projects {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

.block-our-services {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-imac {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.round {
  width: 10em;
  height: 10em;
  border: 2px solid green;
  border-radius: 50%;
  line-height: 10em;  /* подробнее про line-height */
  text-align: center;  /* выравнять текст по середине по горизонтали */
  background: white;
}

.with-button-second-part {
    display: flex;
}
.button-second-part {
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 35px;
    background-color: white;
}