html, body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

._container {
    max-height: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 0 0 140px;
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
}

.header__burger {
    display: none;
}

.header_menu {
}

.header__list {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header_link {
    color: #ffff;
    font-size: 18px;
    text-decoration: none;
}

.content {
    padding-top: 100px;
}

.content_text {}

.title-why {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: -10px;
}
.title-lemur {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 90px;
    right: 20px;
}

.img-lemur {
    max-height: 300px;
    position: relative;
}

.btn-contact-us {
    background: #1EB19D!important;
    font-weight: bold!important;
    color: black!important;
}

.btn-contact-us-nav {
    background: black!important;
    font-weight: bold!important;
    color: white!important;
    border-radius: 15px 0 12px 0!important;
    border-color: #1EB19D!important;
}

.div-welcome-text {

}

.contact-us-fixed {
    display: none!important;
}

.technologies {
    background-image: url(img/poligon.png);
}

@media (max-width: 767px) {
    .contact-us-fixed {
        border-radius: 50% !important;
        width: 60px!important;
        height: 60px!important;
        display: block!important;
        position: fixed!important;
        bottom: 30px!important;
        right: 30px!important;
        color: #1EB19D!important;
        border-color: #1EB19D!important;
    }
    .contact-us-fixed.active {
        background-color: black!important;
        border-color: black!important;
        color: white!important;
    }

    .img-lemur {
        max-height: 300px;
        max-width: 100%;
        position: relative;
    }

    .title-why {
        top: 13px;
        right: -15px;
    }
    .title-lemur {
        top: 90px;
        right: 30px;
    }

    .btn-contact-us-nav {
        background: white!important;
        font-weight: bold!important;
        color: black!important;
        border-radius: 15px 0 12px 0!important;
        border-color: #1EB19D!important;
    }

    .div-welcome-text {
        display: none!important;
    }

    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 50px;
    }

    .header__logo {
        flex: 0 0 90px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        overflow: auto;
        width: 100%;
        height: 100%;
        background-color: #1EB19D;
        padding: 50px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }
    .header_menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        padding-top: 20px;
    }
    .header__list li {
        margin: 0px 0px 20px 0px;
    }

    .content {
        padding-top: 50px;
    }

    .header_link {
        font-size: 24px;
    }
}
